.form__item {
  border: 0;
  padding: 0 2px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  margin: 0 36px 30px 36px;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@media screen and (max-width: 700px){
  .form__item {
    width: 238px;
    padding: 0;
    margin: 0 22px 30px 22px;
  }
}

.form__item:focus {
  outline: none;
  border-bottom: 2px solid gray;
}